<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Setting viewport and charset -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <!--- Webpage Icon -->
        <link href="/src/images/main.ico" rel="icon">

        <!-- CSS stylesheet -->
        <link href="/src/static/styles.css" rel="stylesheet">

        <!-- Using Jinja for titles -->
        <title>Codecrafts: README Generator</title>
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html">Codecrafts <img width="30" height="30" src="/src/images/main.ico"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                  <h4 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Codecrafts Navigator</h4>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a id="nav-text" class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a id="nav-text" class="nav-link" href="github.html">Github README Generator</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a id="nav-text" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Others
                      </a>
                      <ul id="nav-text" class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="about.html">About Me</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" target="_blank" href="https://github.com/ryantusi/Github_Profile_README_Generator/tree/main">Source Code (github)</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
          <br>

          <!-- Main Section -->
          <main class="container-fluid py-5 text-center">
            <br>
            <h1>Welcome to Codecrafts</h1>           
            <img src="/src/images/main.ico" width="200" height="200" />
            <hr><br>
                  
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed grey" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      About Codecrafts
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <strong>Codecrafts provides technical services as a part of CS50 final project by Harvard.</strong> Our GitHub <code>README.MD</code> File Generator is the first technical service introduced which simplifies the process of creating a polished <code>README.MD</code> file. There will be many more coming up like URL Shortner, Youtube to mp3/mp4 downloader, and much more.
                      <br>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed yellow" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Github Profile README Generator
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <strong>Construct your own README.MD file for your github profile.</strong> Our GitHub <code>README.MD</code> File Generator simplifies the process of creating a polished <code>README.MD</code> file. Just input your content in plain language, and our tool works its magic.
                        <br><br>
                        <img src="/src/images/github.png" width="400" height="200" />
                        <br><p>A preview</p>
                        <br>
                        <a class="btn btn-outline-success" href="github.html" role="button">Construct your README!</a>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed red" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Source Code
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <strong>Download or Fork source code for Github_Profile_README_Generator from my <code>Github Repository</code></a>.</strong> This project was done by Ryan Tusi, do give a follow and star the github repository. Everyone's welcomed to contribute.
                      <br><br>
                      <a class="btn btn-outline-dark" href="https://github.com/ryantusi/Github_Profile_README_Generator/tree/main" role="button">Go!</a>
                    </div>
                  </div>
                </div>
              </div>
              <br>

          </main>

          <!-- Copyright-->
          <footer class="mb-5 small text-center text-muted">
            <h6>CS50x2023 Final Project ~ Ryan Tusi</h6> 
        </footer>
    </body>
</html>